
*.DS_Store
*.o
.vscode
modules
__pycache__
build-eleSignal-Desktop_Qt_5_6_3_MinGW_32bit-Debug
build-eleSignal-Desktop_Qt_5_6_3_MinGW_32bit-Profile
build-eleSignal-Desktop_Qt_5_6_3_MinGW_32bit-Release
